@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.uppercase {
    text-transform: uppercase;
}
.seasons-main-image {
    background-image: url('../images/pexels-valiphotos-589808.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    max-height: 100%;
    max-width: 100%;
    margin: 0%;
}
.seasons-image-heading h1 {
    font-size :xx-large;
    color: #fafafa;
    font-weight: 700;
    text-decoration: underline;

}
.seasons-image-heading p {
    font-size: 30px;
    color: #fafafae4;
    font-weight: 400;
    padding-top: 10px;
}

.season-list {
    color: #fafafa;
    font-size: 25px;
    font-weight: 400;
    font-style: 'Exo', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    
}
.social-networks {
    background-color: hsl(21, 96%, 68%);
    height: 120px;
    padding: 20px;
}   
.list-inline-item i {
    font-size: 25px;
    color: #fafafa;
    margin: 5px;
    padding: 2px 5px 2px 5px;
}

.season-image {
    max-width: 90%;
    height: 90%;
    border-radius: 50%;
    margin-top: 10px;
    padding: 10px 10px;
    margin: 0;
}
.season-message {
    font-size: 22px;
    margin-top: 15px;
    padding: 20px 20px;
    color:#f6dfdf
}
.season-heading {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
    color: rgba(248, 212, 10, 0.949)
}