@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
.uppercase {
    text-transform: uppercase;
}
.seasons-image {
    background-image: url('../images/pexels-valiphotos-589808.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.seasons-image-heading {
    font-size :xx-large;
    color: #fafafa;
}
.season-list {
    color: #fafafa;
    font-size: 25px;
    font-weight: 400;
    font-style: 'Exo', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    
}
.social-networks {
    background-color: hsl(0, 1%, 51%);
    height: 120px;
    padding: 20px;
}   
.list-inline-item i {
    font-size: 25px;
    color: #fafafa;
    margin: 5px;
    padding: 2px 5px 2px 5px;
}

